<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/svg-arrow.css"/>

<style>
  .marginalia {
    background-color: rgb(255, 0, 208);
    border: none;
  }

  .marginalia:hover {
    background-color: #2C2559;
    color: white;
    border: none;
  }

  .marginalia:focus {
    background-color: #2C2559;
    color: white;
    border: none;
  }

  .tippy-box[data-theme~='light'] {
    background: #EFEFEF;
    border: 3px solid #2C2559;
    color: #2C2559;
    min-width: 300px;
    max-width: 500px;
    padding-bottom: 10px;
  }

  .tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #2C2559;
    transform: translate(0, 2px);
  }
  .tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #2C2559;
    transform: translate(0, -2px);
  }
  .tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #2C2559;
  }
  .tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #2C2559;
  }

  .tippy-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }

</style>

<button class="marginalia" data-tippy-content="{{ .Get 1 }}">{{ .Get 0 }}</button>



<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>

  tippy('[data-tippy-content]', {
    allowHTML: true,
    interactive: true,
    placement: 'bottom',
    trigger: 'click',
    theme: 'light',
  });

</script>